@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: saira, sans-serif;
}
body{
    background-color: black;
    color: white;
}


.floating-img {
  width: 250px;
  animation: floatUpDown 4s ease-in-out infinite;
  will-change: transform;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.typewriter {
    overflow: hidden;
    /* border: 0.15em solid #8B5CF6; */
    white-space: nowrap;
    margin: 0;
    animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 22ch;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50%
    {
        border-color: #8B5CF6;
    }
}